Repository alibahadirabra/creqit_solution: changes, and which Codecov flags are due for each by the changed paths.
All: server, ui-tests, server-ui

creqit logo güncellemeleri
  creqit/public/images/creqit-favicon.svg
  creqit/public/images/creqit_gray.png
  creqit/public/images/creqit_logo.png
  creqit/public/images/creqit_mini.svg
  creqit/public/images/creqit_mini_gray_logo.svg
  creqit/public/images/creqit_mini_logo.svg
  creqit/public/images/creqit_white.png
  creqit/public/images/creqit_white_logo_icon.svg
  creqit/public/js/creqit/ui/sidebar.html
  creqit/www/login.html
Due: none

font kütüphanesi değişti --figtree
  creqit/public/css/fonts/figtree/Figtree-Black.ttf
  creqit/public/css/fonts/figtree/Figtree-BlackItalic.ttf
  creqit/public/css/fonts/figtree/Figtree-Bold.ttf
  creqit/public/css/fonts/figtree/Figtree-BoldItalic.ttf
  creqit/public/css/fonts/figtree/Figtree-ExtraBold.ttf
  creqit/public/css/fonts/figtree/Figtree-ExtraBoldItalic.ttf
  creqit/public/css/fonts/figtree/Figtree-Italic-VariableFont_wght.ttf
  creqit/public/css/fonts/figtree/Figtree-Italic.ttf
  creqit/public/css/fonts/figtree/Figtree-Light.ttf
  creqit/public/css/fonts/figtree/Figtree-LightItalic.ttf
  creqit/public/css/fonts/figtree/Figtree-Medium.ttf
  creqit/public/css/fonts/figtree/Figtree-MediumItalic.ttf
  creqit/public/css/fonts/figtree/Figtree-Regular.ttf
  creqit/public/css/fonts/figtree/Figtree-SemiBold.ttf
  creqit/public/css/fonts/figtree/Figtree-SemiBoldItalic.ttf
  creqit/public/css/fonts/figtree/Figtree-VariableFont_wght.ttf
  creqit/public/css/fonts/figtree/figtree.css
  creqit/public/css/fonts/figtree/figtree.scss
  creqit/public/scss/desk.bundle.scss
  creqit/public/scss/espresso/_typography.scss
  creqit/public/scss/website.bundle.scss
  creqit/public/scss/website/index.scss
  creqit/website/doctype/website_theme/website_theme_template.scss
Due: none

creqit güncellemeleri
  creqit/core/page/dashboard_view/dashboard_view.js
  creqit/public/icons/timeless/icons.svg
  creqit/public/js/creqit/form/controls/data.js
  creqit/public/js/creqit/form/grid_row.js
  creqit/public/js/creqit/list/list_view.js
  creqit/public/js/creqit/ui/page.js
  creqit/public/js/creqit/ui/sidebar.js
  creqit/public/js/creqit/ui/toolbar/awesome_bar.js
  creqit/public/js/creqit/views/breadcrumbs.js
  creqit/public/js/creqit/views/inbox/inbox_view.js
  creqit/public/scss/common/buttons.scss
  creqit/public/scss/common/controls.scss
  creqit/public/scss/common/css_variables.scss
  creqit/public/scss/common/grid.scss
  creqit/public/scss/common/indicator.scss
  creqit/public/scss/desk/dark.scss
  creqit/public/scss/desk/desktop.scss
  creqit/public/scss/desk/frappe_datatable.scss
  creqit/public/scss/desk/global.scss
  creqit/public/scss/desk/kanban.scss
  creqit/public/scss/desk/list.scss
  creqit/public/scss/desk/page.scss
  creqit/public/scss/desk/report.scss
  creqit/public/scss/desk/sidebar.scss
  creqit/public/scss/desk/toast.scss
  creqit/public/scss/desk/variables.scss
  creqit/public/scss/element/checkbox.scss
  creqit/public/scss/espresso/_colors.scss
  creqit/public/scss/espresso/_typography.scss
  creqit/public/scss/website/index.scss
Due: ui-tests

a
  creqit/api/getBudgetName.py
Due: server, server-ui

login görsel
  creqit/public/images/dashboard_01.png
Due: none

yapılan diğer değişiklikler
  creqit/core/page/dashboard_view/dashboard_view.js
  creqit/locale/tr.po
  creqit/public/icons/timeless/icons.svg
  creqit/public/js/creqit/form/controls/comment.js
  creqit/public/js/creqit/list/list_view.js
  creqit/public/scss/common/css_variables.scss
  creqit/public/scss/common/form.scss
  creqit/public/scss/desk/desktop.scss
  creqit/public/scss/desk/form.scss
  creqit/public/scss/desk/list.scss
  creqit/public/scss/desk/theme_switcher.scss
  creqit/public/scss/espresso/_colors.scss
Due: ui-tests

creqit güncel login görseli ve metni
  creqit/public/images/dashboard_01.png
  creqit/www/login.html
Due: none

Tasarımdaki son değişiklikler
  creqit/public/js/creqit/form/grid.js
  creqit/public/js/creqit/ui/page.js
  creqit/public/js/creqit/ui/sidebar.html
  creqit/public/js/creqit/ui/toolbar/awesome_bar.js
  creqit/public/scss/common/color_picker.scss
  creqit/public/scss/common/modal.scss
  creqit/public/scss/desk/desktop.scss
  creqit/public/scss/desk/form.scss
  creqit/public/scss/desk/list.scss
  creqit/public/scss/desk/navbar.scss
  creqit/public/scss/desk/variables.scss
  creqit/public/scss/espresso/_colors.scss
Due: ui-tests

creqit güncelleme
  creqit/locale/tr.po
  creqit/public/js/creqit/ui/messages.js
  creqit/public/scss/common/modal.scss
  creqit/public/scss/email.bundle.scss
  creqit/utils/password.py
Due: server, ui-tests, server-ui

creinda - creqit oalrak değişti, menu buton görünümü düzenlendi
  creqit/desk/page/setup_wizard/setup_wizard.js
  creqit/locale/af.po
  creqit/locale/ar.po
  creqit/locale/bs.po
  creqit/locale/de.po
  creqit/locale/eo.po
  creqit/locale/es.po
  creqit/locale/fa.po
  creqit/locale/fi.po
  creqit/locale/fr.po
  creqit/locale/hu.po
  creqit/locale/id.po
  creqit/locale/it.po
  creqit/locale/nl.po
  creqit/locale/pl.po
  creqit/locale/pt.po
  creqit/locale/pt_BR.po
  creqit/locale/ru.po
  creqit/locale/sv.po
  creqit/locale/tr.po
  creqit/locale/vi.po
  creqit/locale/zh.po
  creqit/locale/zh_TW.po
  creqit/public/js/creqit/list/list_view.js
  creqit/www/login.html
  creqit/www/login.py
Due: server, ui-tests, server-ui

Create license.py
  creqit/api/license.py
Due: server, server-ui

a
  creqit/api/license.py
Due: server, server-ui

Update license.py
  creqit/api/license.py
Due: server, server-ui

Create get_contacts_by_company.py
  creqit/api/get_contacts_by_company.py
Due: server, server-ui

Create deleteContact.py
  creqit/api/deleteContact.py
Due: server, server-ui

Update deleteContact.py
  creqit/api/deleteContact.py
Due: server, server-ui

Create sync_contacts.py
  creqit/sync_contacts.py
Due: server, server-ui

Update hooks.py
  creqit/hooks.py
Due: server, server-ui

Update sync_contacts.py
  creqit/sync_contacts.py
Due: server, server-ui

Update get_contacts_by_company.py
  creqit/api/get_contacts_by_company.py
Due: server, server-ui

sol menunun sabit kalmasi için kodlar
  creqit/public/js/creqit/ui/sidebar.html
  creqit/public/js/creqit/ui/sidebar.js
  creqit/public/js/form_builder/components/controls/DataControl.vue
  creqit/public/scss/common/color_picker.scss
  creqit/public/scss/desk/sidebar.scss
Due: ui-tests

bildirim alanı açmak için kodlar
  creqit/public/js/creqit/ui/toolbar/navbar.html
Due: none

test
  creqit/api/docfield.py
Due: server, server-ui

ssaa
  creqit/api/docfield.py
Due: server, server-ui

a
  creqit/api/docfield.py
Due: server, server-ui

fileuploader ve search
  creqit/core/doctype/file/file.py
  creqit/locale/tr.po
  creqit/public/js/creqit/file_uploader/FilePreview.vue
  creqit/public/js/creqit/file_uploader/file_uploader.bundle.js
  creqit/public/js/creqit/ui/toolbar/awesome_bar.js
Due: server, ui-tests, server-ui

Path conditions:
  server: any of: **/*.py
  ui-tests: any of: **/*.js
  server-ui: any of: **/*.py
